<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.unionpay.batch.dao.TblQpbatStdBankDetailMapper" >
  <resultMap id="BaseResultMap" type="com.unionpay.batch.entity.TblQpbatStdBankDetail" >
    <id column="BUSS_CD" property="bussCd" jdbcType="VARCHAR" />
    <id column="SETTLE_DT" property="settleDt" jdbcType="VARCHAR" />
    <id column="BANK_TRANS_SEQ" property="bankTransSeq" jdbcType="VARCHAR" />
    <id column="ISS_ACQ" property="issAcq" jdbcType="CHAR" />
    <result column="TRANS_DT" property="transDt" jdbcType="VARCHAR" />
    <result column="TRANS_TM" property="transTm" jdbcType="VARCHAR" />
    <result column="OUT_ACT_NO" property="outActNo" jdbcType="VARCHAR" />
    <result column="IN_ACT_NO" property="inActNo" jdbcType="VARCHAR" />
    <result column="BANK_TRANS_AT" property="bankTransAt" jdbcType="VARCHAR" />
    <result column="TRANS_SEQ" property="transSeq" jdbcType="VARCHAR" />
    <result column="SNDR_INS_ID_CD" property="sndrInsIdCd" jdbcType="VARCHAR" />
    <result column="TRANS_TP" property="transTp" jdbcType="VARCHAR" />
    <result column="BIZ_FUNC_ID" property="bizFuncId" jdbcType="VARCHAR" />
    <result column="SETTLE_NUM" property="settleNum" jdbcType="VARCHAR" />
    <result column="LINE_BUF" property="lineBuf" jdbcType="VARCHAR" />
    <result column="RSV_FLD" property="rsvFld" jdbcType="VARCHAR" />
    <result column="RECNCL_ST" property="recnclSt" jdbcType="CHAR" />
    <result column="RECNCL_DESC" property="recnclDesc" jdbcType="VARCHAR" />
    <result column="OPER_IN" property="operIn" jdbcType="CHAR" />
    <result column="REC_UPD_USR_ID" property="recUpdUsrId" jdbcType="VARCHAR" />
    <result column="REC_UPD_TS" property="recUpdTs" jdbcType="TIMESTAMP" />
    <result column="REC_CRT_TS" property="recCrtTs" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    BUSS_CD, SETTLE_DT, BANK_TRANS_SEQ, ISS_ACQ, TRANS_DT, TRANS_TM, OUT_ACT_NO, IN_ACT_NO, 
    BANK_TRANS_AT, TRANS_SEQ, SNDR_INS_ID_CD, TRANS_TP, BIZ_FUNC_ID, SETTLE_NUM, LINE_BUF, 
    RSV_FLD, RECNCL_ST, RECNCL_DESC, OPER_IN, REC_UPD_USR_ID, REC_UPD_TS, REC_CRT_TS
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="map" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ${tableName}
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="example.orderByClause != null" >
      order by ${example.orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from ${tableName}
    where BUSS_CD = #{record.bussCd,jdbcType=VARCHAR}
      and SETTLE_DT = #{record.settleDt,jdbcType=VARCHAR}
      and BANK_TRANS_SEQ = #{record.bankTransSeq,jdbcType=VARCHAR}
      and ISS_ACQ = #{record.issAcq,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map" >
    delete from ${tableName}
    where BUSS_CD = #{record.bussCd,jdbcType=VARCHAR}
      and SETTLE_DT = #{record.settleDt,jdbcType=VARCHAR}
      and BANK_TRANS_SEQ = #{record.bankTransSeq,jdbcType=VARCHAR}
      and ISS_ACQ = #{record.issAcq,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="map" >
    delete from ${tableName}
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="map" >
    insert into ${tableName} (BUSS_CD, SETTLE_DT, BANK_TRANS_SEQ,
      ISS_ACQ, TRANS_DT, TRANS_TM, 
      OUT_ACT_NO, IN_ACT_NO, BANK_TRANS_AT, 
      TRANS_SEQ, SNDR_INS_ID_CD, TRANS_TP, 
      BIZ_FUNC_ID, SETTLE_NUM, LINE_BUF, 
      RSV_FLD, RECNCL_ST, RECNCL_DESC, 
      OPER_IN, REC_UPD_USR_ID, REC_UPD_TS, 
      REC_CRT_TS)
    values (#{record.bussCd,jdbcType=VARCHAR}, #{record.settleDt,jdbcType=VARCHAR}, #{record.bankTransSeq,jdbcType=VARCHAR},
      #{record.issAcq,jdbcType=CHAR}, #{record.transDt,jdbcType=VARCHAR}, #{record.transTm,jdbcType=VARCHAR},
      #{record.outActNo,jdbcType=VARCHAR}, #{record.inActNo,jdbcType=VARCHAR}, #{record.bankTransAt,jdbcType=VARCHAR},
      #{record.transSeq,jdbcType=VARCHAR}, #{record.sndrInsIdCd,jdbcType=VARCHAR}, #{record.transTp,jdbcType=VARCHAR},
      #{record.bizFuncId,jdbcType=VARCHAR}, #{record.settleNum,jdbcType=VARCHAR}, #{record.lineBuf,jdbcType=VARCHAR},
      #{record.rsvFld,jdbcType=VARCHAR}, #{record.recnclSt,jdbcType=CHAR}, #{record.recnclDesc,jdbcType=VARCHAR},
      #{record.operIn,jdbcType=CHAR}, #{record.recUpdUsrId,jdbcType=VARCHAR}, current_timestamp,
      current_timestamp)
  </insert>
  <insert id="insertSelective" parameterType="map" >
    insert into ${tableName}
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="record.bussCd != null" >
        BUSS_CD,
      </if>
      <if test="record.settleDt != null" >
        SETTLE_DT,
      </if>
      <if test="record.bankTransSeq != null" >
        BANK_TRANS_SEQ,
      </if>
      <if test="record.issAcq != null" >
        ISS_ACQ,
      </if>
      <if test="record.transDt != null" >
        TRANS_DT,
      </if>
      <if test="record.transTm != null" >
        TRANS_TM,
      </if>
      <if test="record.outActNo != null" >
        OUT_ACT_NO,
      </if>
      <if test="record.inActNo != null" >
        IN_ACT_NO,
      </if>
      <if test="record.bankTransAt != null" >
        BANK_TRANS_AT,
      </if>
      <if test="record.transSeq != null" >
        TRANS_SEQ,
      </if>
      <if test="record.sndrInsIdCd != null" >
        SNDR_INS_ID_CD,
      </if>
      <if test="record.transTp != null" >
        TRANS_TP,
      </if>
      <if test="record.bizFuncId != null" >
        BIZ_FUNC_ID,
      </if>
      <if test="record.settleNum != null" >
        SETTLE_NUM,
      </if>
      <if test="record.lineBuf != null" >
        LINE_BUF,
      </if>
      <if test="record.rsvFld != null" >
        RSV_FLD,
      </if>
      <if test="record.recnclSt != null" >
        RECNCL_ST,
      </if>
      <if test="record.recnclDesc != null" >
        RECNCL_DESC,
      </if>
      <if test="record.operIn != null" >
        OPER_IN,
      </if>
      <if test="record.recUpdUsrId != null" >
        REC_UPD_USR_ID
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="record.bussCd != null" >
        #{record.bussCd,jdbcType=VARCHAR},
      </if>
      <if test="record.settleDt != null" >
        #{record.settleDt,jdbcType=VARCHAR},
      </if>
      <if test="record.bankTransSeq != null" >
        #{record.bankTransSeq,jdbcType=VARCHAR},
      </if>
      <if test="record.issAcq != null" >
        #{record.issAcq,jdbcType=CHAR},
      </if>
      <if test="record.transDt != null" >
        #{record.transDt,jdbcType=VARCHAR},
      </if>
      <if test="record.transTm != null" >
        #{record.transTm,jdbcType=VARCHAR},
      </if>
      <if test="record.outActNo != null" >
        #{record.outActNo,jdbcType=VARCHAR},
      </if>
      <if test="record.inActNo != null" >
        #{record.inActNo,jdbcType=VARCHAR},
      </if>
      <if test="record.bankTransAt != null" >
        #{record.bankTransAt,jdbcType=VARCHAR},
      </if>
      <if test="record.transSeq != null" >
        #{record.transSeq,jdbcType=VARCHAR},
      </if>
      <if test="record.sndrInsIdCd != null" >
        #{record.sndrInsIdCd,jdbcType=VARCHAR},
      </if>
      <if test="record.transTp != null" >
        #{record.transTp,jdbcType=VARCHAR},
      </if>
      <if test="record.bizFuncId != null" >
        #{record.bizFuncId,jdbcType=VARCHAR},
      </if>
      <if test="record.settleNum != null" >
        #{record.settleNum,jdbcType=VARCHAR},
      </if>
      <if test="record.lineBuf != null" >
        #{record.lineBuf,jdbcType=VARCHAR},
      </if>
      <if test="record.rsvFld != null" >
        #{record.rsvFld,jdbcType=VARCHAR},
      </if>
      <if test="record.recnclSt != null" >
        #{record.recnclSt,jdbcType=CHAR},
      </if>
      <if test="record.recnclDesc != null" >
        #{record.recnclDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.operIn != null" >
        #{record.operIn,jdbcType=CHAR},
      </if>
      <if test="record.recUpdUsrId != null" >
        #{record.recUpdUsrId,jdbcType=VARCHAR}
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="map" resultType="java.lang.Integer" >
    select count(*) from ${tableName}
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ${tableName}
    <set >
      <if test="record.bussCd != null" >
        BUSS_CD = #{record.bussCd,jdbcType=VARCHAR},
      </if>
      <if test="record.settleDt != null" >
        SETTLE_DT = #{record.settleDt,jdbcType=VARCHAR},
      </if>
      <if test="record.bankTransSeq != null" >
        BANK_TRANS_SEQ = #{record.bankTransSeq,jdbcType=VARCHAR},
      </if>
      <if test="record.issAcq != null" >
        ISS_ACQ = #{record.issAcq,jdbcType=CHAR},
      </if>
      <if test="record.transDt != null" >
        TRANS_DT = #{record.transDt,jdbcType=VARCHAR},
      </if>
      <if test="record.transTm != null" >
        TRANS_TM = #{record.transTm,jdbcType=VARCHAR},
      </if>
      <if test="record.outActNo != null" >
        OUT_ACT_NO = #{record.outActNo,jdbcType=VARCHAR},
      </if>
      <if test="record.inActNo != null" >
        IN_ACT_NO = #{record.inActNo,jdbcType=VARCHAR},
      </if>
      <if test="record.bankTransAt != null" >
        BANK_TRANS_AT = #{record.bankTransAt,jdbcType=VARCHAR},
      </if>
      <if test="record.transSeq != null" >
        TRANS_SEQ = #{record.transSeq,jdbcType=VARCHAR},
      </if>
      <if test="record.sndrInsIdCd != null" >
        SNDR_INS_ID_CD = #{record.sndrInsIdCd,jdbcType=VARCHAR},
      </if>
      <if test="record.transTp != null" >
        TRANS_TP = #{record.transTp,jdbcType=VARCHAR},
      </if>
      <if test="record.bizFuncId != null" >
        BIZ_FUNC_ID = #{record.bizFuncId,jdbcType=VARCHAR},
      </if>
      <if test="record.settleNum != null" >
        SETTLE_NUM = #{record.settleNum,jdbcType=VARCHAR},
      </if>
      <if test="record.lineBuf != null" >
        LINE_BUF = #{record.lineBuf,jdbcType=VARCHAR},
      </if>
      <if test="record.rsvFld != null" >
        RSV_FLD = #{record.rsvFld,jdbcType=VARCHAR},
      </if>
      <if test="record.recnclSt != null" >
        RECNCL_ST = #{record.recnclSt,jdbcType=CHAR},
      </if>
      <if test="record.recnclDesc != null" >
        RECNCL_DESC = #{record.recnclDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.operIn != null" >
        OPER_IN = #{record.operIn,jdbcType=CHAR},
      </if>
      <if test="record.recUpdUsrId != null" >
        REC_UPD_USR_ID = #{record.recUpdUsrId,jdbcType=VARCHAR}
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ${tableName}
    set BUSS_CD = #{record.bussCd,jdbcType=VARCHAR},
      SETTLE_DT = #{record.settleDt,jdbcType=VARCHAR},
      BANK_TRANS_SEQ = #{record.bankTransSeq,jdbcType=VARCHAR},
      ISS_ACQ = #{record.issAcq,jdbcType=CHAR},
      TRANS_DT = #{record.transDt,jdbcType=VARCHAR},
      TRANS_TM = #{record.transTm,jdbcType=VARCHAR},
      OUT_ACT_NO = #{record.outActNo,jdbcType=VARCHAR},
      IN_ACT_NO = #{record.inActNo,jdbcType=VARCHAR},
      BANK_TRANS_AT = #{record.bankTransAt,jdbcType=VARCHAR},
      TRANS_SEQ = #{record.transSeq,jdbcType=VARCHAR},
      SNDR_INS_ID_CD = #{record.sndrInsIdCd,jdbcType=VARCHAR},
      TRANS_TP = #{record.transTp,jdbcType=VARCHAR},
      BIZ_FUNC_ID = #{record.bizFuncId,jdbcType=VARCHAR},
      SETTLE_NUM = #{record.settleNum,jdbcType=VARCHAR},
      LINE_BUF = #{record.lineBuf,jdbcType=VARCHAR},
      RSV_FLD = #{record.rsvFld,jdbcType=VARCHAR},
      RECNCL_ST = #{record.recnclSt,jdbcType=CHAR},
      RECNCL_DESC = #{record.recnclDesc,jdbcType=VARCHAR},
      OPER_IN = #{record.operIn,jdbcType=CHAR},
      REC_UPD_USR_ID = #{record.recUpdUsrId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="map" >
    update ${tableName}
    <set >
      <if test="record.transDt != null" >
        TRANS_DT = #{record.transDt,jdbcType=VARCHAR},
      </if>
      <if test="record.transTm != null" >
        TRANS_TM = #{record.transTm,jdbcType=VARCHAR},
      </if>
      <if test="record.outActNo != null" >
        OUT_ACT_NO = #{record.outActNo,jdbcType=VARCHAR},
      </if>
      <if test="record.inActNo != null" >
        IN_ACT_NO = #{record.inActNo,jdbcType=VARCHAR},
      </if>
      <if test="record.bankTransAt != null" >
        BANK_TRANS_AT = #{record.bankTransAt,jdbcType=VARCHAR},
      </if>
      <if test="record.transSeq != null" >
        TRANS_SEQ = #{record.transSeq,jdbcType=VARCHAR},
      </if>
      <if test="record.sndrInsIdCd != null" >
        SNDR_INS_ID_CD = #{record.sndrInsIdCd,jdbcType=VARCHAR},
      </if>
      <if test="record.transTp != null" >
        TRANS_TP = #{record.transTp,jdbcType=VARCHAR},
      </if>
      <if test="record.bizFuncId != null" >
        BIZ_FUNC_ID = #{record.bizFuncId,jdbcType=VARCHAR},
      </if>
      <if test="record.settleNum != null" >
        SETTLE_NUM = #{record.settleNum,jdbcType=VARCHAR},
      </if>
      <if test="record.lineBuf != null" >
        LINE_BUF = #{record.lineBuf,jdbcType=VARCHAR},
      </if>
      <if test="record.rsvFld != null" >
        RSV_FLD = #{record.rsvFld,jdbcType=VARCHAR},
      </if>
      <if test="record.recnclSt != null" >
        RECNCL_ST = #{record.recnclSt,jdbcType=CHAR},
      </if>
      <if test="record.recnclDesc != null" >
        RECNCL_DESC = #{record.recnclDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.operIn != null" >
        OPER_IN = #{record.operIn,jdbcType=CHAR},
      </if>
      <if test="record.recUpdUsrId != null" >
        REC_UPD_USR_ID = #{record.recUpdUsrId,jdbcType=VARCHAR}
      </if>
    </set>
    where BUSS_CD = #{record.bussCd,jdbcType=VARCHAR}
      and SETTLE_DT = #{record.settleDt,jdbcType=VARCHAR}
      and BANK_TRANS_SEQ = #{record.bankTransSeq,jdbcType=VARCHAR}
      and ISS_ACQ = #{record.issAcq,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="map" >
    update ${tableName}
    set TRANS_DT = #{record.transDt,jdbcType=VARCHAR},
      TRANS_TM = #{record.transTm,jdbcType=VARCHAR},
      OUT_ACT_NO = #{record.outActNo,jdbcType=VARCHAR},
      IN_ACT_NO = #{record.inActNo,jdbcType=VARCHAR},
      BANK_TRANS_AT = #{record.bankTransAt,jdbcType=VARCHAR},
      TRANS_SEQ = #{record.transSeq,jdbcType=VARCHAR},
      SNDR_INS_ID_CD = #{record.sndrInsIdCd,jdbcType=VARCHAR},
      TRANS_TP = #{record.transTp,jdbcType=VARCHAR},
      BIZ_FUNC_ID = #{record.bizFuncId,jdbcType=VARCHAR},
      SETTLE_NUM = #{record.settleNum,jdbcType=VARCHAR},
      LINE_BUF = #{record.lineBuf,jdbcType=VARCHAR},
      RSV_FLD = #{record.rsvFld,jdbcType=VARCHAR},
      RECNCL_ST = #{record.recnclSt,jdbcType=CHAR},
      RECNCL_DESC = #{record.recnclDesc,jdbcType=VARCHAR},
      OPER_IN = #{record.operIn,jdbcType=CHAR},
      REC_UPD_USR_ID = #{record.recUpdUsrId,jdbcType=VARCHAR}
    where BUSS_CD = #{bussCd,jdbcType=VARCHAR}
      and SETTLE_DT = #{record.settleDt,jdbcType=VARCHAR}
      and BANK_TRANS_SEQ = #{record.bankTransSeq,jdbcType=VARCHAR}
      and ISS_ACQ = #{record.issAcq,jdbcType=CHAR}
  </update>
</mapper>